[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "bundle/vimp4python"]
	path = bundle/vimp4python
	url = https://github.com/jpflouret/vimp4python.git
